.sec1{
	background-color: black;
	color: white;
	padding: 25px;
}
.sec2{
	background-color: lightyellow;
	color: black;
	padding: 25px;
}
.img-s{
	border-radius: 50%;
	border: black solid 2px;
}